<div id="divBorder">
  <button mat-button color="primary" [routerLink]="['']">Back to products list</button>
  <h2>Product with ID {{product.id}}</h2>
  <button mat-button color="primary" *ngIf="adminFunctions" (click)="deleteProduct()">Delete product</button>
  <button mat-button color="primary" *ngIf="adminFunctions" [routerLink]="['/edit-product', product.id]">Edit product</button>
  <h1>{{product.name}}</h1>
  <button mat-button color="primary" *ngIf="shopping" (click)="addToCart()">Add to cart</button>
  <ul>
    <li>Category: {{product.category}}</li>
    <li>Price: {{product.price}}</li>
    <li>Description: {{product.description}}</li>
    <li><img src="{{product.image}}" alt="image"></li>
  </ul>
</div>
