<button *ngIf="adminFunctions" [routerLink]="['/add-product']">Add product</button>
<div>
  <table>
    <tr>
      <th>Product</th>
      <th>Category</th>
      <th>Price</th>
      <th>ID</th>
      <th>Details</th>
    </tr>
    <tr *ngFor="let product of products$ | async">
      <td>{{product.name}} </td>
      <td>{{product.category}}</td>
      <td>{{product.price}}</td>
      <td>{{product.id}}</td>
      <td>
        <button [routerLink]="['/product-details', product.id]">Show more</button>
      </td>
    </tr>
  </table>
</div>
